.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    transition: linear .3 ease;
  }

.footer__column-link:hover {
  opacity: 0.6;
}